[submodule "react-app"]
	path = react-app
	url = https://github.com/neetesshhr/react-app
[submodule "treeleafjavaapi"]
	path = treeleafjavaapi
	url = https://github.com/neetesshhr/treeleafjavaapi
[submodule "treeleafjanus"]
	path = treeleafjanus
	url = https://github.com/neetesshhr/treeleafjanus
